<p>Hola {{ name }},</p>
<p>Por favor, haga clic a continuaci贸n para confirmar su correo electr贸nico</p>
<p>
	<h2>Codigo: {{ code }}</h2>
</p>
<p>
    <a href="{{ url }}">Confirmar</a>
</p>

<p>Si no solicit贸 este correo electr贸nico, puede ignorarlo con seguridad.</p>
